<label>New Username: <input type="text" name="newusername"></label> <br><br>
<label>Password: <input type="password" name="password"></label> <br><br>
<label>Re-enter password: <input type="password" name="password2"></label> <br><br><br>
<input id="registerSubmit" type="button" value="Join!">
&nbsp;
<input id="backBtn" type="button" value="Back" onclick="restore()">
